
.img-1{
    padding:5px;
    margin: 20px;
    border: solid lightseagreen;
    height: 157px;
    width: 580px;
}

.img-2{
    padding:40px;
    margin: 10px;
    border: solid lightseagreen;
    height: 400px;
    width:503px;
}

.text-container1{
    text-align: center;
}

.text-container2{
    text-align: center;
}

.centred1{
    text-align: center;
}

.centred2{
    text-align: center;  
}


.bottom-left{
    text-align: bottom left;
}
