
.img-1{
    padding:30px;
    margin: 20px;
    border: solid lightseagreen;
    height: 35px;
    width: 500px;
}

.img-2{
    padding:30px;
    margin: 20px;
    border: solid lightseagreen;
    height: 400px;
    width:500px;
}

.text-container1{
    position: relative;
    text-align: center;
    color: white;
}

.text-container2{
    position: relative;
    text-align: bottom left;
    color: white;
    
}

.centred1{
    position: absolute;
    top: 50%;

}

.centred2{
    position: absolute;
    top: 50%;
}

.bottom-left{
    position: absolute;
    bottom: 8px;
    left:16px;
}