h5{

    color:black;
    font-weight: 600;
    font-family: Arial;
    
}

h2{
    color:black;
    font-weight: 900;
    font-family: Arial;   
}

h3{
    color:black;
    font-weight:700;
    font-family: Arial;
}


.box-2{
    padding:30px;
    margin: 20px;
    border: solid lightseagreen;
    height: 35px;
    width: 500px;
}

#tour{
    padding:30px;
    margin: 20px;
    border: solid lightseagreen;
    height: 400px;
    width:500px;
}

.img-1{
    padding:30px;
    margin: 20px;
    border: solid lightseagreen;
    height: 35px;
    width: 500px;
}

.img-2{
    padding:30px;
    margin: 20px;
    border: solid lightseagreen;
    height: 400px;
    width:500px;
}
